<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OSAScriptingDefinition</key>
	<string>MiniSim.sdef</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>MiniSim uses the camera to provide camera input to the HarmonyOS simulator.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>MiniSim uses the microphone to provide audio input to the HarmonyOS simulator.</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/okwasniewski/MiniSim/main/appcast.xml</string>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
</dict>
</plist>
